/** flowingTextAroundSideBar/index.css **/
:root {
  --fontFamily: monaSans;
  --fontFamilyLight: monaSansLight;
  --fontFamilyExtraLight: monaSansExtraLight;
  --pageWidth: 800px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-items: center;
  background: rgb(239, 244, 255);  /* a light blue */
  display: flex;
  font-family: var(--fontFamily);
  font-size: 16px;
  height: 100%;
  justify-content: center;
  line-height: 1.5rem;
  padding: 1rem;
  width: 100%;
}

h2 {
  font-family: var(--fontFamilyLight);
  margin-top: 2rem;
}

pre {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 1rem 0 0 5rem;
}

.middle {
  background: white;
  border-radius: 1rem;
  border: solid 1px rgb(220, 220, 220);
  box-shadow: 3px 3px 3px rgb(150, 150, 150);
  height: 100%;
  max-width: var(--pageWidth);
  overflow: auto;
  padding: 1rem;
  width: var(--pageWidth);
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.titleImg {
  margin-right: 1rem;
  max-width: 64px;
  min-width: 64px;
  width: 64px;
}

.titleText {
  color: rgb(100, 100, 100);
  font-family: var(--fontFamilyExtraLight);
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
}

.titleDate {
  color: rgb(180, 180, 180);
  font-size: 0.8rem;
  max-width: 64px;
  min-width: 64px;
  text-align: right;
  width: 64px;
}

.sideBySideFigureSection {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  margin-top: 1rem;
  max-width: 100%;
  width: 100%;
}

.sideBySideContainer {
  font-size: 0.85rem;
  text-align: center;
}

.sideBySideImage {
  height: 20rem;
}

.sideBySide
/* detect narrow */
@media screen and (max-width: 800px) {
}
